
/dzlitidis-app/*.classpath
/dzlitidis-app/*.project
.classpath
.settings
target
/dzlitidis-app3/*.classpath
/dzlitidis-app3/*.project
/dzlitidis-app3/*
/dzlitidis-app2/*.project
/dzlitidis-app2/*
/dzlitidis-app2/*.classpath
